/* Your custom styles */

.jumbotron { 
    background: url('file:///C:/xampp/htdocs/MDB%20Free/img/c.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}